<link rel="import" href="../vendor/lodash.html">
<link rel="import" href="../../bower/iron-form/iron-form.html">
<link rel="import" href="../../bower/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower/paper-spinner/paper-spinner.html">
<link rel="import" href="../button-container.html">
<link rel="import" href="./text.html">

<dom-module id="model-form">
	
	<style>
		paper-button ::shadow paper-ripple {
			color: var(--default-primary-color);
		}
	</style>

	<template>
		
		<div hidden$="[[!loading]]">
			<paper-spinner></paper-spinner>
		</div>
		
		<div hidden$="[[loading]]">

			<paper-input 
				type="text"
				id="modelId"
				name="id"
				label="ID"
				disabled="[[ editMode ]]"
				value="{{componentId}}"
				invalid="{{_idInvalid}}"
				error-message="[[_idError]]">
			</paper-input>

			<form is="iron-form" 
				id="modelForm" 
				_method="[[method]]" 
				action="[[action]]" 
				content-type="application/json">

				<template is="dom-if" if="[[_rev]]">
					<input type="hidden" name="_rev" value="[[_rev]]">
				</template>
				
				<div id="modelElements"></div>
			

				<button-container>
					<template is="dom-if" if="[[editMode]]">
						<paper-button secondary on-tap="submitForm">Update</paper-button>
					</template>
					<template is="dom-if" if="[[!editMode]]">
						<paper-button secondary on-tap="submitForm">Create</paper-button>
					</template>
				</button-container>
			</form>
		</div>

		<iron-ajax
			id="idExistsService"
			method="head"
			url="[[ _idExistsUrl ]]"
			handle-as="json"
			on-response="_doesIdExist"
			on-error="_doesIdExist"
			debounce-duration="100">
		</iron-ajax>
		
	</template>
	<script>
	;(function(){
		var skipFirstValidationIndicator = true

		function isValid(element) {
			return element.validate()
		}

		Cait.elements.ModelForm = Polymer({
			is:"model-form",

			properties: {
				componentName: String,
				loading: Boolean,
				
				editMode: {
					type: Boolean,
					value: false
				},

				componentId: {
					type: String,
					observer: '_onIdChange'
				},
				
				action: {
					type: String,
					computed: '_computeUrl(componentName, componentId)'
				},

				method: {
					type: String,
					value: "post"
				},

				model: {
					type: Object,
					notify: true,
					observer: '_onModelChange'
				},

				data: {
					type: Object,
					value: {}
				},

				_rev: String,
				_idExistsUrl: String,
				_idError: String,

				_idInvalid: {
					type: Boolean,
					value: false
				},
				
				_lastModel: {
					type: Object,
					value: {}
				}
			},

			submitForm: function () {
				if ( _.every(this.$.modelElements.children, isValid) ){
					this.$.modelForm.submit();
				}
			},

			_onIdChange: function (id) {

				if ( this.editMode ) return

				if (skipFirstValidationIndicator) {
					skipFirstValidationIndicator = false
					return 
				}
				
				if (!id) {
					this._idError = 'This is required'
					this._idInvalid = true
					return
				} 

				this._idExistsUrl = '/admin/api/component/' + this.componentName + '/' + id
				
				this._checkIdExists()
			},

			_checkIdExists: _.debounce(function () {
				this.$.idExistsService.generateRequest()
			}, 250),

			_doesIdExist: function (response) {
				var xhr = response.detail.xhr || response.detail.request.xhr
				if ( xhr.status === 200 ) {
					this._idError = 'This ID already exists'
					this._idInvalid = true
				} else {
					this._idInvalid = false
				}
			},

			_shouldModelChange: function (current, last) {
				if ( _.isEqual(this._lastModel, current) ) {
					this.loading = false
					return false
				}

				if ( _.isEmpty(current) ) {
					this.loading = true
					this._lastModel = last
					return false
				}

				return true;
			},

			_onModelChange: function (current, last) {
				
				if ( !this._shouldModelChange(current, last) ) return

				var frag = document.createDocumentFragment()
				
				Object.keys(this.model).forEach( function (field) {
					var fieldModel = this.model[field]
					
					frag.appendChild(
						new Cait.models[fieldModel.type](field, fieldModel.schema, this.data[field])
					)
				}.bind(this))

				Polymer.dom(this.$.modelElements).innerHTML = ''
				Polymer.dom(this.$.modelElements).appendChild(frag)
				
				this.loading = false
			},

			_computeUrl: function(component, id) {
				return (component && id) ? 
					['/admin/api/component', component, id].join('/') : ''
			}
		})
	}())
		
	</script>
</dom-module>