<link rel="import" href="../../bower/paper-input/paper-input.html">
<link rel="import" href="../behaviors/model-behavior.html">

<dom-module id="cait-text">
	<template>
		<paper-input name="[[name]]" type="text" value="{{value}}" label="[[label]]" invalid="[[invalid]]" error-message="[[errorMessage]]"></paper-input>
	</template>

	<script>
	Cait.models.text = Polymer({
		is: 'cait-text',

		behaviors: [ Cait.models.ModelBehavior ],
		
	})
	</script>
</dom-module>