<script src="js/store.js"></script>

<link rel="import" href="bower/polymer/polymer.html">

<!-- iron -->
<link rel="import" href="bower/iron-pages/iron-pages.html">

<!-- paper -->
<link rel="import" href="bower/paper-styles/paper-styles.html">
<link rel="import" href="bower/paper-button/paper-button.html">
<link rel="import" href="bower/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="bower/paper-header-panel/paper-header-panel.html">
<link rel="import" href="bower/paper-toolbar/paper-toolbar.html">
<link rel="import" href="bower/paper-material/paper-material.html">

<!-- custom -->
<link rel="import" href="elements/create-component.html">
<link rel="import" href="elements/edit-component.html">
<link rel="import" href="elements/padded-container.html">