<!DOCTYPE html>
<html>
<head>
	<title>Cait admin</title>
	<script>
		window.Cait = { elements: {}, models: {} }
	</script>
	<script src="bower/webcomponentsjs/webcomponents-lite.min.js"></script>
	<link rel="import" href="elements.html"> 
</head>
<body unresolved class="fullbleed layout vertical">
<template is="dom-bind" id="app">
	
	<style is="custom-style">
		:root {
			--dark-primary-color: #37AE8D;
			--default-primary-color: #01E09C;
			--light-primary-color: #FCFCFC;
			--text-primary-color: #ffffff;
			--accent-color: #FFAA3D;
			--primary-background-color: #ffffff;
			--secondary-background-color: #C6F7EA;
			--primary-text-color: #465059;
			--secondary-text-color: #73808C;
			--disabled-text-color: #01E09C;
			--paper-input-container-focus-color: #29BE81;
			--divider-color: #e0e0e0;
			--paper-item: {
				color: var(--primary-text-color);
			}
			--paper-input-container: { 
				padding: 0 0 16px;
			}

		}

		:root body {
			@apply(--paper-font-common-base)
		}
 
		:root h1 {
			@apply(--paper-font-headline)
		}
		:root h2 {
			@apply(--paper-font-title)
		}

		:root .paper-drawer-panel > [drawer] {
			background: var(--light-primary-color);
		}

		:root paper-button[primary] {
			background: var(--accent-color);
			color: #fff;
		}

		:root paper-button[secondary] {
			background: var(--secondary-background-color);
			color: var(--primary-text-color);
		}

		:root ::shadow paper-input .unfocused-line{
			opacity: 0.5;
		}
		
	</style>

	<paper-drawer-panel>
		<paper-material drawer>

			<paper-toolbar>
				<h1>Cait</h1>
			</paper-toolbar>
			
			<padded-container small>
				<a href="#create-component">
					<paper-button raised primary style="width: 100%">
						Create component
					</paper-button>
				</a>
			</padded-container>

		</paper-material>

		<paper-header-panel main mode="seamless">
			<paper-toolbar>
				<padded-container small>
					<h2>{{toolbarTitle}}</h2>
				</padded-container>
			</paper-toolbar>

			<padded-container>
				<iron-pages attr-for-selected="data-page" selected="{{page}}">	

					<section data-page="home">
						<p>home content</p>
					</section>

					<section data-page="create-component">
						<create-component id="createComponent"></create-component>
					</section>

					<section data-page="edit-component">
						<edit-component id="editComponent"></edit-component>
					</section>

				</iron-pages>
			</padded-container>
			
		</paper-header-panel>
	</paper-drawer-panel>

	

</template>
<script src="js/app.bundled.js"></script>
</body>
</html>