<dom-module id="my-component">
	<template>
		<div class="myComponent">
			<h1>{{headline}}</h1>
			<p>{{introText}}</p>
		</div>
	</template>

	<script>
	Polymer({
		is: 'my-component'
	})
	</script>

</dom-module>
