<dom-module id="button-container">
	
	<style>
	:host {
		padding: 16px 0;
		display: block;
	}
	</style>

	<template>
		<content></content>
	</template>

	<script>
	Polymer({
		is:"button-container"
	})
	</script>

</dom-module>