<link rel="import" href="../bower/iron-icons/iron-icons.html">

<link rel="import" href="../bower/paper-item/paper-item.html">

<dom-module id="component-list-item">
	<style>
	:host {
		display: block;
	}
	:host:hover {
		background: var(--secondary-background-color);
	}
	paper-item {
		cursor:pointer;
		position: relative; /* to contain the ripple effect */
		color: var(--primary-text-color);
 	}
 	paper-item > iron-icon {
 		color: var(--secondary-text-color);
		position: absolute;
		right: 8px;
		top: 25%;
 	}
	</style>
	<template>
		<paper-item data-component="[[item]]">
			<paper-ripple id="ripple" style="pointer-events: none;"></paper-ripple>
			<paper-item-body style="pointer-events: none;">[[item]]</paper-item-body>
			<iron-icon icon="chevron-right" style="pointer-events: none;"></iron-icon>
		</paper-item>
	</template>

	<script>
	Cait.elements.ComponentListItem = Polymer({
		is:'component-list-item',
		properties: {
			item: String
		}
	})
	</script>

</dom-module>