<link rel="import" href="../bower/iron-ajax/iron-ajax.html">

<link rel="import" href="./component-list-item.html">

<dom-module id="component-list">
	<template>

		<template is="dom-repeat" items="[[componentList]]">		
			<component-list-item item="[[item]]" on-click="setSelected"></component-list-item>
		</template>

		<iron-ajax
			auto
			url="/admin/api/list-components"
			handle-as="json"
			on-response="readComponentList"
			debounce-duration="300">
		</iron-ajax>

	</template>
	
	<script>
		Cait.elements.ComponentList = Polymer({
			is: 'component-list',

			properties: {
				componentList: {
					type: Array
				},
				component: {
					type: String,
					notify: true
				}
			},

			readComponentList: function (response) {
				this.componentList = response.detail.response.components
			},

			setSelected: function (e) {
				this.fire('selected', e.target.dataComponent)
			}
		})
	</script>
</dom-module>