<link rel="import" href="../bower/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower/paper-toolbar/paper-toolbar.html">

<link rel="import" href="component-list.html">
<link rel="import" href="./models/model-form.html">

<dom-module id="create-component">
	<style>
	:host component-list {
		margin-left: -16px;
		display: block;
	}
	</style>
	<template>

		<template is="dom-if" if="[[!componentName]]">
			<component-list on-selected="_onComponentChange"></component-list>
		</template>
		
		<template is="dom-if" if="[[componentName]]">
			<model-form model="[[model]]" method="post" component-name="[[componentName]]"></model-form>
		</template>

		<iron-ajax
			id="componentModelService"
			url="[[ _computeUrl(componentName) ]]"
			handle-as="json"
			on-response="_readComponentModel"
			debounce-duration="300">
		</iron-ajax>
		
	</template>
	
	<script>
		Cait.elements.CreateComponent = Polymer({
			is: 'create-component',

			properties: {
				componentName: String,
				model: Object,
				_models: {
					type:Object, 
					value: {}
				}
			},

			attached: function () {
				Cait.createComponentStore = new Store({
					store: this,
					properties: {
						componentName: null,
					}, 
					actions: {
						createComponent: function() {
							this.componentName && this.fetchComponentModel()
						}
					}
				})
			},

			fetchComponentModel: function () {
				if ( this._models[this.componentName] ) {
					this.model = this._models[this.componentName]
				} else {
					this.$.componentModelService.generateRequest()
				}
			},

			_computeUrl: function(name) {
				return name ? '/admin/api/component-model/' + name : ''
			},

			_onComponentChange: function (e) {
				Cait.router.navigate('create-component/' + e.detail, {trigger:true});
			},

			_readComponentModel: function (e) {
				this.model = e.detail.response
				this._models[this.componentName] = this.model
			}
		})
	</script>
</dom-module>