<link rel="import" href="../bower/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower/paper-toolbar/paper-toolbar.html">

<link rel="import" href="component-list.html">
<link rel="import" href="./models/model-form.html">

<dom-module id="edit-component">
	<style>
	:host component-list {
		margin-left: -16px;
		display: block;
	}
	</style>
	<template>

		<model-form 
			model="[[model]]"
			data="[[data]]"
			_rev="[[_rev]]"
			method="put"
			edit-mode="true"
			component-name="[[componentName]]"
			component-id="[[componentId]]">
		</model-form>

		<iron-ajax
			id="componentService"
			url="[[url]]"
			handle-as="json"
			on-response="_readComponent"
			debounce-duration="300">
		</iron-ajax>

	</template>
	
	<script>
		Cait.elements.editComponent = Polymer({
			is: 'edit-component',

			properties: {
				componentName: String,
				componentId: String,
				model: Object,
				data: Object,
				url: {
					type: String,
					computed: '_computeUrl(componentName, componentId)'
				},
				_id: {
					type: String
				}
			},

			attached: function () {
				Cait.editComponentStore = new Store({
					store: this,
					properties: {
						componentName: null,
						componentId: null
					}, 
					actions: {
						editComponent: function() {
							this.componentName && this.componentId && this.fetchComponent()
						}
					}
				})
			},

			fetchComponent: function () {
				this.$.componentService.generateRequest()
			},

			_readComponent: function (e) {
				var component = e.detail.response;
				this._rev = component._rev
				this.data = component.data
				this.model = component.model
			},

			_computeUrl: function(component, id) {
				return (component && id) ? 
					['/admin/api/component', component, id].join('/') : ''
			}
		})
	</script>
</dom-module>