<dom-module id="padded-container">

	<style>
	:host {
		padding: 16px 32px;
		display: block;
		max-width: 512px;
	}
	:host ::content paper-button {
		margin: 0;
	}

	:host[small] {
		padding: 16px;
	}
	</style>

	<template>
		<content></content>
	</template>

	<script>
	Polymer({
		is: 'padded-container'
	})
	</script>

</dom-module>